<!DOCTYPE html>
  <html lang="en">
    <head>
      <link rel="stylesheet" href="../css/styles.css">
      <script>
        function copyToClipboard(elementId) {
            const copyText = document.getElementById(elementId);

            copyText.select();
            navigator.clipboard.writeText(copyText.innerHTML);
          }
      </script>
    </head>    
    <body class="page-body">
      <div class="page-content">
        <div class="header-container">
          <div class="logo-button">
            <a class="navbar-brand pt-0 ms-3 ms-lg-0" id="bxi-logo" href="/">
              <img width="150" src="../assets/logo.svg" alt="Logo"/>
            </a>
          </div>
          <div>
            <a href="logout"><button id="bxi-log-out" class="log-out-button">Sign Off</button></a>
          </div>
        </div>
        <div class="body-container">
          <div class="dashboard-container-top">
            <div class="profile-container">
              <h3 class="profile-header-three">My Profile</h3>
              <div class="screenshot-placeholder"></div>
            </div>
            <div class="blank-placeholder-top-right">
              <div class="token-item">
                <div class="token-item-title">Access Token</div>
                <div class="token-input-container">
                  <textarea class="token-input" type="text" id="accessToken"><%= accessToken %></textarea>
                  <div class="token-to-clipboard">
                    <img src="../assets/clipboard.svg" alt="Copy to Clipboard" onclick="copyToClipboard('accessToken')"/>
                  </div>
                </div>
              </div>
              <div class="token-item">
                <div class="token-item-title">Id Token</div>
                <div class="token-input-container">
                  <textarea class="token-input" type="text" id="idToken"><%= idToken %></textarea>
                  <div class="token-to-clipboard">
                    <img src="../assets/clipboard.svg" alt="Copy to Clipboard" onclick="copyToClipboard('idToken')"/>
                  </div>
                </div>
              </div>
              <div class="decoder-link">
                <a href="https://developer.pingidentity.com/en/tools/jwt-decoder.html" target="_blank">Ping Identity JWT Decoder</a>
              </div>
            </div>
          </div>
          <div class="container-bottom">
            <div class="text-container-left-align">
              <div class="text-placeholder bottom size-md width-xl"></div>
              <div class="text-placeholder bottom size-md width-xl"></div>
              <div class="text-placeholder size-md width-md"></div>
            </div>
            <div class="bottom-right-placeholder"></div>
          </div>
        </div>
      </div>
    </body>
  </html>